<a href="https://colab.research.google.com/github/asksawant/zee5-analysis/blob/main/notebooks/Script1_Data_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/ml-workspace/zee5/data/zee_tv_show.csv')

In [ ]:
df.head(5)

,channel,show_name,cast_names,release_date,total_episodes,genres
0,zee_marathi,NaN,[],NaN,NaN,NaN
1,zee_marathi,Daar Ughad Baye,"['Sania Choudhary', 'Sharad Ponkshe', 'Roshan ...",2022-09-19,79.0,Drama
2,zee_marathi,Tu Chaal Pudha,"['Deepa Parab', 'Aditya Vaidya', 'Vaishnavi Ka...",2022-08-15,110.0,Drama
3,zee_marathi,"Home Minister - Khel Sakhyancha, Charchaughincha",['Aadesh Bandekar'],2022-06-27,148.0,"Reality , Entertainment"
4,zee_marathi,Chala Hawa Yeu Dya...Varhaad Nighala Amerikela,[],2021-12-06,121.0,Comedy

In [ ]:
# dimension of the dataset
df.shape

(1219, 6)

In [ ]:
# removing the rows which show_name as NA
df = df[df['show_name'].notnull()]

In [ ]:
df.head(3)

,channel,show_name,cast_names,release_date,total_episodes,genres
1,zee_marathi,Daar Ughad Baye,"['Sania Choudhary', 'Sharad Ponkshe', 'Roshan ...",2022-09-19,79.0,Drama
2,zee_marathi,Tu Chaal Pudha,"['Deepa Parab', 'Aditya Vaidya', 'Vaishnavi Ka...",2022-08-15,110.0,Drama
3,zee_marathi,"Home Minister - Khel Sakhyancha, Charchaughincha",['Aadesh Bandekar'],2022-06-27,148.0,"Reality , Entertainment"

In [ ]:
df.isnull().sum()

channel            0
show_name          0
cast_names         0
release_date      40
total_episodes     9
genres             0
dtype: int64

In [ ]:
df['channel'].value_counts()

zee_tamil        195
zee_telugu       161
zee_marathi      143
zee_bangla       134
zee_ganga        116
zee_sarthak       88
zee_andtv         63
zee_tv_shows      57
zee_keralam       55
zee_punjab        48
zee_yuva          47
zee_kannada       27
zee_zing          20
zee_big_magic     17
zee_cafe           7
zee_zest           6
Name: channel, dtype: int64

In [ ]:
df['genres'].value_counts()
# we can melt this

Drama                      228
Entertainment              137
Drama , Romance            127
Reality                    106
Devotional                  61
                          ...
Games                        1
Entertainment , Festive      1
Crime , Drama                1
Reality , Talk Show          1
Reality , Travelogue         1
Name: genres, Length: 121, dtype: int64

In [ ]:
# create an Id column
# which uniquely identify each tv show
df.reset_index(inplace=True)

In [ ]:
# Rename the index column as id
df.rename(columns = {'index':'id'},inplace=True)

In [ ]:
df.head()

,id,channel,show_name,cast_names,release_date,total_episodes,genres
0,1,zee_marathi,Daar Ughad Baye,"['Sania Choudhary', 'Sharad Ponkshe', 'Roshan ...",2022-09-19,79.0,Drama
1,2,zee_marathi,Tu Chaal Pudha,"['Deepa Parab', 'Aditya Vaidya', 'Vaishnavi Ka...",2022-08-15,110.0,Drama
2,3,zee_marathi,"Home Minister - Khel Sakhyancha, Charchaughincha",['Aadesh Bandekar'],2022-06-27,148.0,"Reality , Entertainment"
3,4,zee_marathi,Chala Hawa Yeu Dya...Varhaad Nighala Amerikela,[],2021-12-06,121.0,Comedy
4,5,zee_marathi,Mazhi Tuzhi Reshimgaath,"['Shreyas Talpade', 'Prarthana Behere']",2021-08-23,423.0,"Drama , Romance"

In [ ]:
# Creating the fact table
Fact_tv_show = df[['id','show_name','channel','release_date','total_episodes']]
Fact_tv_show.head(3)

,id,show_name,channel,release_date,total_episodes
0,1,Daar Ughad Baye,zee_marathi,2022-09-19,79.0
1,2,Tu Chaal Pudha,zee_marathi,2022-08-15,110.0
2,3,"Home Minister - Khel Sakhyancha, Charchaughincha",zee_marathi,2022-06-27,148.0

In [ ]:
# Dim_cast
Dim_cast = df[['id','cast_names']]
Dim_cast.head()

   id                                         cast_names
0   1  ['Sania Choudhary', 'Sharad Ponkshe', 'Roshan ...
1   2  ['Deepa Parab', 'Aditya Vaidya', 'Vaishnavi Ka...
2   3                                ['Aadesh Bandekar']
3   4                                                 []
4   5            ['Shreyas Talpade', 'Prarthana Behere']

In [ ]:
from ast import literal_eval

Dim_cast['cast_names'] = Dim_cast['cast_names'].apply(literal_eval) #convert to list type
Dim_cast = Dim_cast.explode('cast_names')
Dim_cast.reset_index(drop=True,inplace=True)

<ipython-input-15-788c7ceb5865>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dim_cast['cast_names'] = Dim_cast['cast_names'].apply(literal_eval) #convert to list type

In [ ]:
Dim_cast['cast_names'] = Dim_cast['cast_names'].str.strip()
Dim_cast = Dim_cast[Dim_cast['cast_names'].notnull()]
Dim_cast

        id       cast_names
0        1  Sania Choudhary
1        1   Sharad Ponkshe
2        1   Roshan Vichare
3        2      Deepa Parab
4        2    Aditya Vaidya
...    ...              ...
4558  1216    Vicky Ratnani
4559  1217            Mukti
4560  1217     Shakti Mohan
4561  1218      Mukti Mohan
4562  1218     Shakti Mohan

[4223 rows x 2 columns]

In [ ]:
# Dim_genres
Dim_genres = df[['id','genres']]
Dim_genres.head()

   id                   genres
0   1                    Drama
1   2                    Drama
2   3  Reality , Entertainment
3   4                   Comedy
4   5          Drama , Romance

In [ ]:
# use str split on the column
Dim_genres['genres'] = Dim_genres['genres'].str.split(',')

<ipython-input-18-59865fe79c6b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dim_genres['genres'] = Dim_genres['genres'].str.split(',')

In [ ]:
Dim_genres.head()

   id                      genres
0   1                     [Drama]
1   2                     [Drama]
2   3  [Reality ,  Entertainment]
3   4                    [Comedy]
4   5          [Drama ,  Romance]

In [ ]:
Dim_genres = Dim_genres.explode('genres')
Dim_genres.reset_index(drop=True,inplace=True)
Dim_genres['genres'] = Dim_genres['genres'].str.strip()
Dim_genres = Dim_genres[Dim_genres['genres'].notnull()]
Dim_genres

        id         genres
0        1          Drama
1        2          Drama
2        3        Reality
3        3  Entertainment
4        4         Comedy
...    ...            ...
1722  1214        Reality
1723  1215        Cookery
1724  1216        Cookery
1725  1217        Reality
1726  1218        Reality

[1727 rows x 2 columns]

In [ ]:
Dim_genres['genres'].value_counts()

Drama                  485
Reality                242
Entertainment          227
Romance                164
Comedy                 114
Devotional              87
Kids                    74
Event                   51
Supernatural            28
Thriller                26
Cookery                 22
Mythology               22
Award Show              19
Musical                 16
Horror                  15
Fantasy                 13
Talk Show               12
Crime                   11
Game Show               11
Suspense                10
Biopic                   9
Rom Com                  8
Lifestyle                7
Animation                7
Chat Show                6
Singing Reality          5
Historical Drama         4
Action                   3
Debate                   3
Sci-Fi                   3
Sports                   2
Infotainment             2
Travelogue               2
Games                    2
Festive                  2
Mystery                  1
Tragedy                  1
Kids games               1
Wellness                 1
Prank Show               1
News                     1
Historical               1
Health and Wellness      1
Family                   1
Astrology                1
Quiz                     1
Docudrama                1
Performances             1
Name: genres, dtype: int64

In [ ]:
Fact_tv_show.to_csv('/content/drive/MyDrive/ml-workspace/zee5/data/power_bi/Fact_tv_show.csv',index=False)
Dim_cast.to_csv('/content/drive/MyDrive/ml-workspace/zee5/data/power_bi/Dim_cast.csv',index=False)
Dim_genres.to_csv('/content/drive/MyDrive/ml-workspace/zee5/data/power_bi/Dim_genres.csv',index=False)